*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}
/* NAV CSS */
.nav-bg{
  background-color: #F0FFF0;
  width: 100%;
  height: 280px;
}
.sign-in button{
  background-color: #21B573;
  border-radius: 50px;
  padding: 10px 10px;
  outline-style: none;
  border: none;
  width: 104px;
  color: white;
}

/* Landing Part CSS */
.landing-bg{
  background-color: #F0FFF0;
  
}
.landing-left p{
 color: #FB6735;
}
.landing-left h1{
  line-height: 4rem;
  font-weight:bold;
  font-size: 48px;
  
}
.landing-left span{
  color: #21B573;
}
.start-btn button,
.online-course .btn
{
  background-color: #21B573;
  border-radius: 50px;
  padding: 10px 20px;
  outline-style: none;
  border: none;
  width: 160px;
  color: white;
}

/* Resources Part CSS */
.resources{
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  padding: 30px ;
  margin-bottom: 10px;
  transition: .3s all;
}
.resources:hover{
  box-shadow: 5px 5px 20px lightgray;
  transform: translateY(-5px);
  border-radius: 10px;
}
.resources img{
  min-width: 66px;
  height:85px;
  /* position: 100% 100%; */
}

/* Online Courses CSS */
.card{
  border:none;
  box-shadow: 5px 5px 20px lightgray;
  border-radius: 20px;
}
.card img{
  padding: 20px 20px;
  border-radius: 30px;
}

/* Testimonial Part Resources */
.testimonial img{
  width:120px;
  height: 120px;
  float: left;
}
.testimonial p{  
  padding: 15px 15px;
  text-align: justify;
}
.icon-size{
  font-size: 22px;
}
.icon-size:hover{
  /* font-size: 24px; */
  color:red
}
/* Footer Part CSS */
.bg-footer{
  background-color: #282531;
  /* color: #FFFFFF; */
  width: 100%;
  min-height: 300px;
}
.bg-footer p, h6,a{
  color:#FFFFFF ;
  }
.bg-footer h6{
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.bg-footer p,a{
  font-size: 14px;
  
}
.bg-footer li{
  padding: 5px 0;
}

/* Finished CSS  */

@media only screen and (max-width: 600px) {
  
  .landing-left p{
    text-align: center;
    margin: auto;
   }
  .landing-left h1{
    line-height: 2rem;
    font-weight:bold;
    font-size: 30px;
    margin: auto;
    text-align: center;
  }
  .start-btn button{
    transform: translateX(100%);

  }
  .nav-responsive a{
    margin: auto;
  }
  .sign-in button{
    transform: translateX(150%);
  }
}